/* ######### Drop Down DIVs CSS ######### */


.ddsubmenustyle, .ddsubmenustyle div{ /*topmost and sub DIVs, respectively*/
font-size:13px;
margin-top:0px;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
background: #FFF;
/*border: 1px solid #FF0;*/
border-bottom-width: 0;
visibility: hidden;
z-index: 100;
text-align:left;
}

.ddsubmenustyle ul{
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 0px none;
}


.ddsubmenustyle li a{
display: block;
width: 135px; /*width of menu (not including side paddings)*/
color:#000;
text-decoration: none;
padding:10px 10px;
border-bottom: 1px dashed #999;
background:#FFF;
/*background:url(../images/img.jpg) repeat-x;*/
/*border-left:#000 1px solid;*/
}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width: 170px; /*width of menu (include side paddings of LI A*/

}

.ddsubmenustyle li a:hover{
color:#000;
background:#DCEF56;

}

/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 10px;
border: 0;

}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 7px;
left: 100px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}